<html>
    <head>
        <%- include('Demo4Header')%>
    </head>
    <body>
        <%- include('Demo4Body')%>
        <footer>
            <%- include('Demo4Footer')%> 
        </footer>
    </body>   
</html>